.topBar {
    padding: 10px;
    display: flex;
    color: #222237;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
    border-bottom: 1px solid #dadce0;
}

.topBar .logo {
    width: 200px;
}

.topBar .rightLinks {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.topBar a {
    display: flex;
    padding: 10px;
    color: #222237;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
}

.topBar a.active {
    color: #5d02fb;
}

.topBar a i {
    text-decoration: none;
}

.topBar a:hover {
    color: #5d02fb;
}

.topBar .logo {
    max-width: 200px;
    margin-right: 5px;
}

.topBar .logo:hover {
    background-color: none !important;
}

.topBar .userAvatar {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.topBar .userAvatar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.topBar .dropdown {
    position: relative;
}

.topBar .dropdownContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 120px;
    padding: 10px;
}

.topBar .dropdownContent a {
    padding: 8px;
    color: #222237;
    font-size: 16px;
    text-decoration: none;
}

.topBar .dropdown a i {
    font-size: 25px;
}

.topBar .dropdownContent a:hover {
    background-color: #f5f5f5;
}

.topBar .dropdownContent .logOut:hover {
    color: #c42b1c;
    border-radius: 5px;
    outline: 3px dotted #c42b1c;
    background-color: none;
}

/* Themes */
.topBar.darkTheme {
    color: #ffffff;
    background-color: #000000;
}

.topBar.darkTheme a {
    color: #ffffff;
}

.topBar.darkTheme a:hover {
    color: #5d02fb;
}

.topBar.darkTheme .dropdownContent {
    background-color: #000000;
}

/* Responsiveness */
@media only screen and (max-width: 600px) {
    .topBar .logo {
        width: 100%;
        max-width: 100px;
    }
}

@media only screen and (max-width: 400px) {
    .topBar .logo {
        max-width: 50px;
    }
}
  