.sideBar {
    top: 0;
    bottom: 0;
    position: fixed;
    left: 0px;
    width: 250px;
    background-color: #ffffff;
    color: #222237;
    border-right: 1px solid #dadce0;
    transition: width 0.3s ease-in-out;
}

.sideBar.hidden {
    width: 50px;
    transition: width 0.3s ease-in-out;
}

.sideBar .sideBarNav {
    margin-top: 50px;
}

.sidebar .sideBarNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sideBar .sideBarNav ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sideBar .sideBarNav ul li a {
    display: block;
    padding: 10px;
    color: #222237;
    text-decoration: none;
}

.sideBar .sideBarNav ul li a i {
    display: inline-block;
}

.sideBar .sideBarNav ul li a p {
    display: inline-block;
}

/* Responsiveness */
@media only screen and (max-width: 600px) {
    .sideBar {
        width: 50px !important;
    }
}

@media only screen and (max-width: 400px) {
    .sideBar {
        width: 250px !important;
        left: -250px !important;
    }
}
  