.profileHeader {
    width: 80%;
    margin: auto;
    padding: 30px;
    margin-top: 2em;
    border-radius: 5px;
    max-height: 300px;
    display: flex;
    background-color: #ffffff;
}

.profileHeader .leftPane {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.profileHeader .leftPane .userAvatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.profileHeader .leftPane .userInfo {
    margin-left: 1em;
}

.profileHeader .leftPane .userInfo .userName {
    color: #b9babe;
    margin-top: -1em;
}

.profileHeader .leftPane .userInfo .userName.show {
    display: "block";
}

.profileHeader .leftPane .userInfo .userName.hidden {
    display: "none";
}