.themeSettingsPage {
    color: #222237;
    min-height: 100vh;
    height: fit-content;
    background-color: #f3f5f7;
}

/* Dark Theme */

.themeSettingsPage.darkTheme {
    color: var(--darkText);
    background-color: var(--darkBackground);
}