.privacyDisclosureOauthPage {
    color: var(--lightText);
    min-height: 100vh;
    height: fit-content;
    background-color: var(--lightBackground);
}

.privacyDisclosureOauthPage.darkTheme {
    color: var(--darkText);
    background-color: var(--darkBackground);
}