.uploadPage {
    color: #222237;
    text-align: center;
    height: fit-content;
    background-color: #f3f5f7;
}

.uploadPage .title {
    margin-top: 1em;
}

.uploadPage .disclaimer {
    margin: auto;
    color: #666666;
    font-size: 12px;
    margin-top: 2em;
    max-width: 500px;
    line-height: 20px;
    min-height: fit-content;
}